/* ==========================================================================
 * Base
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
========================================================================== */
html,
body {
    height: 100%
}

html > body {
    background-color: var(--c6o-body-bkg-color);
    color: var(--c6o-body-text-color);
    font-family: var(--font-family);
}

p {
    &.section {
        margin-bottom: var(--xl-spacing);
    }
}

a {
    color: var(--color-sea);

    &:hover {
        color: var(--color-morning-sea);
    }

    &:focus {
        outline: none;
    }

    &.icon {
        text-decoration: none;

        iron-icon {
            height: var(--xl-spacing);
            width: var(--xl-spacing);
        }
    }

    &.no-link {
        cursor: default;

        &:hover {
            color: var(--color-sea);
            text-decoration: none;
        }
    }

    &.text-error:hover {
        color: var(--color-night-fire);
    }
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;

    &:hover,
    &:focus,
    &:active {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        outline: 0;
    }
}

ul {
    &.error-message {
        color: var(--color-fire);
        font-size: var(--lumo-font-size-s);
        padding-inline-start: 0;
    }

    &.inline {
        margin-bottom: 0;
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid var(--color-wind);
}

.hidden {
    display: none;
}

.pointer {
    cursor: var(--lumo-clickable-cursor);
}

.icon {
    height: calc(var(--xl-spacing) * 2);
    width: calc(var(--xl-spacing) * 2);

    &.inline {
        margin-right: var(--xl-spacing);
    }

    &.small {
        height: var(--c6o-icon-height-sm);
        width: var(--c6o-icon-height-sm);
    }
}
