@import './vendor/blueprint/_config';

:root {
    --color-sea: #416edd;
    --color-ocean: #09c1d1;
    --color-sun: #fae170;
    --color-fire: #ff5a00;
    --color-navy: #2a343e;
    --color-morning-sea: #3c5aac;
    --color-twilight-ocean: #2899a6;
    --color-evening-sun: #c3b566;
    --color-night-fire: #d95020;
    --color-blizzard: var(--lumo-contrast-5pct);
    --color-wind: var(--lumo-contrast-10pct);
    --color-cloud: var(--lumo-contrast-30pct);
    --color-rain: var(--lumo-contrast-50pct);
    --color-storm: var(--lumo-contrast-60pct);
    --color-thunder: var(--lumo-contrast-70pct);
    --color-sunset: #ff9e43;
    --color-stone: #8e9292;
    --color-fog: hsla(214, 82%, 90%, 0.6);
    --color-snow: #f8f8f8;
    --color-white: #fff;
    --color-black: #000;

    --color-title: var(--color-thunder);
    --color-h1: var(--color-navy);
    --color-h2: var(--color-navy);
    --color-h3: var(--color-navy);

    --success: var(--color-ocean);
    --info: var(--color-sea);
    --warning: var(--color-sun);
    --danger: var(--color-fire);
    --light: var(--color-snow);
    --dark: var(--color-thunder);

    --font-family: 'Montserrat', sans-serif;

    --lumo-font-family: var(--font-family);
    --lumo-clickable-cursor: pointer;
    --lumo-primary-color: var(--color-sea);
    --lumo-secondary-color: var(--color-ocean);
    --lumo-error-text-color: var(--color-fire);

    --c6o-body-bkg-color: var(--color-snow);
    --c6o-body-text-color: var(--color-thunder);
    --c6o-border-radius: 6px;
    --c6o-button-size: 2.375rem;
    --c6o-default-field-width: 15rem;
    --c6o-field-size: var(--c6o-button-size);
    --c6o-icon-height-sm: 2.5rem;
    --c6o-icon-width-sm: var(--c6o-icon-height-sm);
    --c6o-icon-height: 3rem;
    --c6o-icon-width: var(--c6o-icon-height);
    --c6o-icon-height-lg: 4.5rem;
    --c6o-icon-width-lg: var(--c6o-icon-height-lg);
    --c6o-icon-height-xl: 6rem;
    --c6o-icon-width-xl: var(--c6o-icon-height-xl);
    --c6o-icon-spacing: .75rem;
    --c6o-subnav-height: 78px;

    --color-google-auth: #0f9d58;
    --color-digitalocean-auth: #0069ff;
    --color-github-auth: #6e5494;

    @media (min-width: 1265px) {
        --c6o-default-field-width: 20rem;
    }

    @media (min-width: 1365px) {
        --c6o-default-field-width: 25rem;
    }
}
