/* ==========================================================================
 * Icons
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
========================================================================== */

iron-icon {
    &.default {
        margin-right: var(--sm-spacing);
    }

    &.info {
        color: var(--color-sea);
        margin-right: var(--sm-spacing);
    }

    &.success {
        color: var(--color-ocean);
        margin-right: var(--sm-spacing);
    }

    &.warning {
        color: var(--color-sun);
        margin-right: var(--sm-spacing);
    }

    &.error {
        color: var(--color-fire);
        margin-right: var(--sm-spacing);
    }
}

.vendor-logo,
.c6o-icon {
    margin: 0 var(--md-spacing) var(--xl-spacing) 0;
    width: calc(var(--xl-spacing) * 2);

    img {
        height: auto;
        width: 100%;
    }

    &.small {
        width: 45px;
    }
}

.vendor-icon {
    height: auto;
    margin-right: var(--md-spacing);
    width: var(--xl-spacing);
}