/* ==========================================================================
 * Layouts
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
========================================================================== */

.panel {
    background-color: var(--color-white);
    border: none;
    border-radius: var(--c6o-border-radius);
    margin-bottom: var(--xl-spacing);
    padding: var(--xl-spacing);
}

.profile-image {
    height: 48px;
    width: 48px;
    border-radius: var(--c6o-border-radius);
    margin-right: var(--sm-spacing);
}

.account-image {
    height: var(--lumo-icon-size-l);
    width: var(--lumo-icon-size-l);
    border-radius: var(--c6o-border-radius);
    margin-right: var(--sm-spacing);
}

.card {
    background-color: var(--color-white);
    box-shadow: 4px 4px 10px var(--color-cloud);
    margin: var(--xl-spacing) calc(var(--xl-spacing) * 1.5);
    padding: var(--xl-spacing);
    text-align: center;

    .icon {
        margin: 0 auto var(--xl-spacing);
    }
}
