/* ==========================================================================
 * Layouts
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
========================================================================== */

.panel {
    background-color: var(--color-white);
    border: none;
    border-radius: 6px;
    margin-top: var(--lg-spacing);
    padding: var(--xl-spacing);
}

.profile-image {
    height: 48px;
    width: 48px;
    border-radius: 6px;
    margin-right: var(--sm-spacing);
}

.account-image {
    height: 30px;
    width: 30px;
    border-radius: 6px;
    margin-right: var(--sm-spacing);
}
