/*
 * Layout Styles
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
 */

.container,
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 732px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1164px;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1404px;
    }
}