/* ==========================================================================
 * Vaadin
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
========================================================================== */

vaadin-context-menu-list-box {
    > hr {
        height: 1px;
    }

    vaadin-context-menu-item {
        cursor: pointer;
    }
}

vaadin-list-box {
    > hr {
        margin-bottom: var(--sm-spacing);
        margin-top: var(--sm-spacing);
    }

    vaadin-item {
        cursor: pointer;
    }

    iron-icon {
        &[theme~="account-switcher"] {
            margin-right: var(--sm-spacing);
        }

        &[theme~="profile"] {
            height: 30px;
            width: 30px;
            opacity: .5;
        }
    }
}
