/* ==========================================================================
 * Vaadin
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
========================================================================== */

vaadin-context-menu-list-box {
    > hr {
        height: 1px;

        &[theme~="marina"] {
            height: 0;
            margin: var(--xs-spacing);
        }
    }

    vaadin-context-menu-item {
        cursor: pointer;

        &[theme~="notifications"] {
            padding-bottom: var(--md-spacing);
            padding-top: var(--sm-spacing);
            position: relative;

            .notification-icon {
                margin-right: var(--sm-spacing);
                position: relative;

                .installing-animation {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                iron-icon {
                    &.installing {
                        opacity: 0.2;
                    }
                }
            }

            .name {
                font-weight: 700;
            }

            .status {
                &.error {
                    color: var(--color-fire);
                }

                &.installing {
                    color: var(--color-twilight-ocean);
                }

                &.running {
                    color: var(--color-sea);
                }
            }

            .date {
                color: var(--color-storm);
                font-size: .65rem;
            }
        }
    }
}

vaadin-list-box {
    > hr {
        margin-bottom: var(--sm-spacing);
        margin-top: var(--sm-spacing);
    }

    vaadin-item {
        cursor: pointer;
    }

    iron-icon {
        &[theme~="account-switcher"] {
            margin-right: var(--sm-spacing);
        }

        &[theme~="profile"] {
            height: 30px;
            width: 30px;
            opacity: .5;
        }
    }
}
