/* ==========================================================================
 * Vaadin
 * Light DOM Styles
 * These will not apply to the ShadowDOM of Web Components except via CSS variables
========================================================================== */

vaadin-context-menu-list-box {
    padding-bottom: var(--xs-spacing);
    padding-top: var(--xs-spacing);

    > hr {
        height: 1px;

        &[theme~="system"] {
            height: 0;
            margin: var(--xs-spacing);
        }
    }

    vaadin-context-menu-item {
        cursor: pointer;

        &[theme~="system"],
        &[theme~="activity"]{
            min-width: 200px;
            padding-bottom: var(--sm-spacing);
            padding-top: var(--sm-spacing);
            position: relative;
        }

        &[theme~="system"] {
            &[disabled] {
                color: var(--color-morning-sea);
            }
        }

        &[theme~="activity"] {
            &[disabled] {
                color: var(--color-navy);
                padding: var(--xl-spacing) 0;
            }
        }
    }
}

vaadin-list-box {
    > hr {
        margin-bottom: var(--sm-spacing);
        margin-top: var(--sm-spacing);
    }

    vaadin-item {
        cursor: pointer;
    }

    iron-icon {
        &[theme~="account-switcher"] {
            margin-right: var(--sm-spacing);
        }

        &[theme~="profile"] {
            height: 30px;
            width: 30px;
            opacity: .5;
        }
    }
}
